.services-header {
    text-align: center;
    padding: 50px 20px;
    background-color: rgb(3, 3, 4);
    color: #fff;
    margin-top: 60px; 
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.services-header h1 {
    font-size: 2.7rem;
    margin-bottom: 10px;
    animation: slideIn 0.8s ease-out forwards;
    background: linear-gradient(135deg, #f5f3f1, #f1f4f7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.1em;
}


@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.services-header p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    animation: fadeIn 1s ease-in 0.5s forwards;
}

.services-section {
    margin-top: 20px;
    animation: fadeIn 1s ease-in 1s forwards;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 14px 10px 6px rgba(76, 4, 170, 0.1);
    margin: 20px;
}

.service-row {
    position: relative; /* Needed for the pseudo-element positioning */
    display: flex;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s;
    flex-direction: row-reverse;
    border-radius: 10px;
    margin-top: 10px;
}

.service-row::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Position it relative to the service-row */
    left: 0; /* Align to the left */
    right: 0; /* Stretch to the right */
    bottom: 0; /* Position at the bottom */
    height: 8px; /* Height of the border */
    border-radius: 0 0 5px 5px; /* Optional: Rounded corners */
}

.service-row:nth-child(odd) {
    /* background-color: #200598;  */
    background: linear-gradient(135deg, #030066, #2d44c6 ); 
}

.service-row:nth-child(even) {
    background: linear-gradient(135deg, #dff2ff, #e3defa);
}


.service-row:nth-child(odd) .tech-tag {
    /* background-color: #050308;  */
    background-color: orange;
    color: black;
}

.service-row:nth-child(odd):hover .tech-tag {
    box-shadow: 2px 2px white;
}


.service-row:nth-child(odd) .tech-tag:hover {
    background-color: rgb(2, 2, 1);
    color: rgb(249, 249, 249);
}

.service-row:nth-child(odd) h3 {
    color: #a7a2b1; 
}

.service-row:nth-child(odd) p {
    color: #dfdaeb; 
}

.service-row:hover {
    transform: translateY(-2px); 
}

.service-image {
    flex: 1;
    text-align: center;
}

.service-image img {
    width: 100%; 
    height: 100%; 
    margin-bottom: 15px;
}

.service-info {
    flex: 2;
    padding: 0 20px; 
}

.service-info h3 {
    font-size: 2.5rem;
    color: #003366; 
    margin-bottom: 10px;
}

.service-info p {
    font-size: 1rem;
    color: #333; 
    margin-bottom: 10px;
}

.technologies {
    margin-top: 10px; 
}

.tech-tag {
    display: inline-block;
    background-color: #2904bd; 
    color: #fff; 
    border-radius: 15px;
    padding: 10px 17px; 
    margin: 5px 14px 0 0;
    font-size: 1.2rem; 
    transition: background-color 0.3s, transform 0.3s; 
}

.tech-tag:hover {
    background-color: #000000; 
    transform: scale(1.05) skewY(3deg); 
}

/* Optional media query for responsive design */
@media (max-width: 768px) {
    .service-row {
        flex-direction: column;
        align-items: flex-start; 
    }

    .service-image {
        margin-bottom: 10px; 
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #060202;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
